{% extends "link_shortner/base.html" %}
{% block content %}
        {% if valid %}
        {% if ciphered %}
         <a href="http://{{ request.get_host }}{% url 'url_redirection_key' url key %}">
        http://{{ request.get_host }}{% url 'url_redirection_key' url key %}</a>
        {% else %}
	    <a href="http://{{ request.get_host }}{% url 'url_redirection' url %}">
        http://{{ request.get_host }}{% url 'url_redirection' url %}</a>
        {% endif %}
        {% else %}
        <form action="{% url 'link_shortner.views.create' %}" method="post">
		    {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.url_long.errors }}
            {{ form.url_long }}
         <button type="submit" class="btn span btn-4 btn-4a icon-arrow-right"><span></span></button></a>
        </br>
        </br>
            <p>
            Encrypt link {{ form.ciphered }}
            </p>
        </form>
        {% endif %}
{% endblock %}
